{{input
  autocomplete="off"
  class="editable-field__input"
  type="text"
  value=value
  placeholder=placeholder
  focus-out=(action "_onInputBlur")}}

<button
  class="editable-field__button"
  disabled={{_isDisabled}}
  tabindex={{buttonTabindex}}
  type={{buttonType}}
  onclick={{action "_onButtonClick"}}>
  {{yield}}
  {{~buttonLabel~}}
</button>