<div class="main two-columns">
  <div class="form">
    <h2>Data binding</h2>
    <div class="field">
      <label class="inline">
        {{input type="checkbox" checked=vip}}
        <span class="label">Vip {{code-property "vip"}}</span>
      </label>
    </div>

    <div class="field">
      <label>
        <span class="label">Name {{code-property "name"}}</span>
        {{input type="text" value=name}}
      </label>
    </div>

    <div class="field">
      <label>
        <span class="label">Email {{code-property "email"}}</span>
        {{input type="text" value=email}}
      </label>
    </div>

    <div class="field">
      <label>
        <span class="label">Avatar {{code-property "avatar"}}</span>
        {{input type="text" value=avatar}}
      </label>
    </div>

    <div class="field">
      <label>
        <span class="label">Phone {{code-property "phone"}}</span>
        {{input type="text" value=phone}}
      </label>
    </div>

    <div class="field">
      <label>
        <span class="label">Phone visibility duration {{code-property "phoneVisibilityDuration"}}</span>
        {{input type="number" step="100" value=phoneVisibilityDuration}}
      </label>
    </div>
  </div>

  <div class="result">
    <h2>LitElement</h2>
    <sample-lit-element
      class="contact-card"
      vip={{vip}}
      name={{name}}
      email={{email}}
      avatar={{avatar}}
      phone={{phone}}
      phone-visibility-duration={{phoneVisibilityDuration}}
      cats={{cats}}
    >
    </sample-lit-element>
  </div>
</div>