<div class="two-columns">
  <div class="result">

    <h2>LitElement</h2>
    <p class="label"><code>&lt;sample-lit-element&gt;</code></p>
    {{#element-event-listener on-phone-shown=showToast}}
      <sample-lit-element
        class="contact-card"
        vip={{vip}}
        name={{name}}
        email={{email}}
        avatar={{avatar}}
        phone={{phone}}
        phone-visibility-duration={{phoneVisibilityDuration}}
        cats={{catNames}}>
      </sample-lit-element>
    {{/element-event-listener}}
  </div>

  <div class="form">
    <fieldset>
      <legend>Data binding (primitives)</legend>

      {{form-property-field
        label="Name"
        value=name}}

      {{form-property-field
        label="Email"
        value=email}}

      {{form-property-field
        label="Avatar size"
        type="number"
        step="10"
        value=avatarSize}}

      {{form-property-field
        label="Avatar (computed)"
        value=avatar}}

      {{form-property-field
        label="Phone"
        value=phone}}

      {{form-property-field
        label="Phone visibility duration"
        type="number"
        step="100"
        value=phoneVisibilityDuration}}

      {{form-property-field
        label="Vip"
        type="checkbox"
        value=vip}}
    </fieldset>

    <fieldset>
      <legend>Data binding (array)</legend>
      {{editable-list
        listButtonLabel="Remove"
        addButtonLabel="Add"
        items=cats
        textProperty="name"}}
    </fieldset>
  </div>
</div>