<div class="main two-columns">
  <div class="form">
    <h2 class="heading">Data binding <span>(primitive types)</span></h2>

    {{form-property-field
      label="Vip"
      name="vip"
      type="checkbox"
      value=vip
    }}

    {{form-property-field
      label="Name"
      name="name"
      value=name
    }}

    {{form-property-field
      label="Email"
      name="email"
      value=email
    }}

    {{form-property-field
      label="Avatar size (Ember)"
      name="avatarSize"
      type="number"
      step="10"
      value=avatarSize
    }}

    {{form-property-field
      label="Avatar (computed from avatarSize)"
      name="avatar"
      readonly="readonly"
      disabled="disabled"
      value=avatar
    }}

    {{form-property-field
      label="Phone"
      name="phone"
      value=phone
    }}

    {{form-property-field
      label="Phone visibility duration"
      name="phoneVisibilityDuration"
      type="number"
      step="100"
      value=phoneVisibilityDuration
    }}
  </div>

  <div class="result">
    <h2>LitElement</h2>
    {{#element-wrapper on-phone-shown=logSomething}}
      <sample-lit-element
        class="contact-card"
        vip={{vip}}
        name={{name}}
        email={{email}}
        avatar={{avatar}}
        phone={{phone}}
        phone-visibility-duration={{phoneVisibilityDuration}}
        cats={{cats}}
      >
      </sample-lit-element>
    {{/element-wrapper}}
  </div>
</div>