<div class="main">
  <div class="form">

  </div>
  <div class="result">
    <sample-lit-element
      class="contact-card"
      vip={{isVip}}
      name={{name}}
      email={{email}}
      avatar={{avatar}}
      phone={{phone}}
      phone-visibility-duration={{phoneVisibilityDuration}}
      cats={{cats}}
    >
    </sample-lit-element>
  </div>
</div>